body { 
    background-color: #006599
}

header{
    background-color: #006599;
    
}

header h3{ 
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
    word-spacing: 10px;
    color: rgb(43, 255, 0);
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    cursor: pointer;
    color: rgb(255, 217, 0);
}

.fundo {
    background-color: #65a6c7;

}

img{
width: 560px;
height: 315px;
border: black solid;
}

footer {
    position: absolute;
    background-color: darkblue;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
}

h1,p{
    font-family: Arial, Helvetica, sans-serif;
}

iframe{
    border: black solid;
}


a:visited{
    color: red;
}

h3:hover{
    font-size: 50px;
    color: rgb(255, 217, 0);
    transition: font-size 10s ease 0s;
    text-align: center;
}